:host {
    display: contents;
}

figure {
    position: relative;
    top: 34px;
    display: block;
    width: 242px;
    margin-inline: auto;

    @media (width >= 48em) {
        position: absolute;
        top: initial;
        right: 32px;
        bottom: 220px;
        margin-inline: 0;
    }

    @media (width >= 64em) {
        top: 170px;
        right: 157px;
        bottom: initial;
    }

    @media (width >= 75em) {
        right: 124px;
    }
}

picture {
    position: relative;
    z-index: 6;
    box-shadow: 0 4px 100px 0 var(--kanbano-shadow-purple);
}
