<svg
    aria-label="Formulaire d'invitation d'un collaborateur dans Kanbano"
    fill="none"
    height="185"
    role="img"
    viewBox="0 0 242 185"
    width="242"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
>
    <title>Formulaire d'invitation d'un collaborateur dans Kanbano</title>
    <rect fill="url(#pattern_func_ic)" height="185" width="242" />
    <defs>
        <pattern height="1" id="pattern_func_ic" patternContentUnits="objectBoundingBox" width="1">
            <use transform="scale(0.00413223 0.00540541)" xlink:href="#image_func_ic" />
        </pattern>
        <image
            height="185"
            href="/assets/functionality/organisation/invitation_create.png"
            id="image_func_ic"
            preserveAspectRatio="none"
            width="242"
        />
    </defs>
</svg>
