<!--suppress AngularNgOptimizedImage -->
<picture>
    <source
        sizes="242px"
        srcset="/assets/functionality/organisation/create-242/create-242.avif 242w"
        type="image/avif"
    />
    <source
        sizes="242px"
        srcset="/assets/functionality/organisation/create-242/create-242.webp 242w"
        type="image/webp"
    />
    <img
        alt=""
        fetchpriority="high"
        height="185"
        loading="eager"
        sizes="242"
        src="/assets/functionality/organisation/create-242/create-242.png"
        srcset="/assets/functionality/organisation/create-242/create-242.png 242w"
        width="242"
    />
</picture>
