<!--suppress AngularNgOptimizedImage -->
<figure>
    <picture data-animate="invitation-create">
        @if (isDark()) {
        <source
            sizes="242px"
            srcset="/assets/functionality/organisation/create-242/create-invitation-dark-242.avif 242w"
            type="image/avif"
        />
        <source
            sizes="242px"
            srcset="/assets/functionality/organisation/create-242/create-invitation-dark-242.webp 242w"
            type="image/webp"
        />
        }
        <source
            sizes="242px"
            srcset="/assets/functionality/organisation/create-242/create-242.avif 242w"
            type="image/avif"
        />
        <source
            sizes="242px"
            srcset="/assets/functionality/organisation/create-242/create-242.webp 242w"
            type="image/webp"
        />
        <img
            alt="Formulaire d'invitation d'un membre dans Kanbano"
            height="185"
            loading="lazy"
            sizes="242"
            src="/assets/functionality/organisation/create-242/create-242.png"
            srcset="/assets/functionality/organisation/create-242/create-242.png 242w"
            width="242"
        />
    </picture>
</figure>
