:host {
    display: block;
    contain-intrinsic-size: 0 800px;
    content-visibility: auto;
}

.pricing {
    padding: 2.5rem 1rem 1rem;
    margin-block: 2.5rem;
    background-color: var(--kanbano-bg-price);
    border-radius: 1.25rem;

    @media (width >= 64em) {
        width: 900px;
        margin-inline: auto;
    }

    @media (width >= 80em) {
        width: 1100px;
    }

    & .pricing-icon {
        width: 112px;
        min-width: 112px;
        max-width: 112px;
        height: 97px;
        min-height: 97px;
        max-height: 97px;
        margin-inline: auto;
    }

    & .pricing-subtitle {
        color: var(--kanbano-purple-text);

        & .pricing-subtitle-bold {
            font-weight: 700;
        }
    }

    & .pricing-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (width >= 48em) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 40px;
        }

        @media (width >= 80em) {
            flex-direction: row-reverse;
        }
    }

    & .pricing-card {
        padding: 40px 16px;
        color: var(--kanbano-white);
        text-align: center;
        border-radius: 12px;

        @media (width >= 48em) {
            width: 340px;
        }
    }

    & .pricing-card-premium {
        position: relative;
        margin-top: 72px;
        background:
            radial-gradient(
                    53.82% 36.75% at 50% 5.22%,
                    var(--kanbano-gradient-radial) 0%,
                    var(--kanbano-gradient-radial-bottom)
                )
                100%,
            var(--kanbano-gradient-radial-bottom);
        border: 4px solid var(--kanbano-rose);

        @media (width >= 48em) {
            margin-top: 0;
        }
    }

    & .pricing-tag {
        position: absolute;
        top: -20px;
        left: 50%;
        width: 300px;
        padding: 0.25rem 1.25rem;
        font-family: var(--font-baloo), display, serif;
        font-weight: 700;
        background: var(--kanbano-gradient-purple);
        border-radius: 0.5rem;
        transform: translateX(-50%);
    }

    & .pricing-card-header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & .pricing-plan-name {
        font-family: var(--font-baloo), display, serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }

    & .pricing-plan-price {
        font-size: 36px;
        font-weight: 700;
        color: var(--kanbano-green);
    }

    & .pricing-card-features {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-block: 40px;
    }

    & .pricing-card-includes {
        font-size: 20px;
        line-height: 24px;
    }

    & .pricing-feature-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & .pricing-feature-item {
        display: flex;
        gap: 16px;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
    }

    & .pricing-card-pro {
        background: var(--kanbano-bg-card-pro);
    }

    & .pricing-card-free {
        background: var(--kanbano-bg-card-price);
    }

    & .pricing-custom {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 20px;
        margin-top: 12px;
        background: var(--kanbano-green);
        border-radius: 0.75rem;

        @media (width >= 48em) {
            flex-direction: row;
            justify-content: center;
        }
    }

    & .pricing-custom-text {
        font-family: var(--font-baloo), display, serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: var(--kanbano-primary);
        text-align: center;
    }
}
