.pricing {
    padding: 2.5rem 1rem;
    margin-block: 2.5rem;
    background-color: var(--kanbano-bg-footer);
    border-radius: 1.25rem;

    .subtitle {
        color: var(--kanbano-purple-text);

        .bold {
            font-weight: 700;
        }
    }

    .pricing__cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .pricing__card {
        padding: 40px 16px;
        color: var(--kanbano-white);
        text-align: center;
        border-radius: 12px;
    }

    .pricing__card--premium {
        position: relative;
        margin-top: 72px;
        background:
            radial-gradient(
                    53.82% 36.75% at 50% 5.22%,
                    var(--kanbano-gradient-radial) 0%,
                    var(--kanbano-gradient-radial-bottom)
                )
                100%,
            var(--kanbano-gradient-radial-bottom);
        border: 4px solid var(--kanbano-rose);
        box-shadow: 0 0 20px 0 var(--kanbano-shadow-pink);
    }

    .pricing__tag {
        position: absolute;
        top: -20px;
        left: 50%;
        width: 300px;
        padding: 0.25rem 1.25rem;
        font-family: var(--font-baloo), display, serif;
        font-weight: 700;
        background: var(--kanbano-gradient-purple);
        border-radius: 0.5rem;
        transform: translateX(-50%);
    }

    .pricing__card-header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .pricing__plan-name {
        font-family: var(--font-baloo), display, serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }

    .pricing__plan-price {
        font-size: 36px;
        font-weight: 700;
        color: var(--kanbano-green);
    }

    .pricing__card-features {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-block: 40px;
    }

    .pricing__card-includes {
        font-size: 20px;
        line-height: 24px;
    }

    .pricing__feature-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .pricing__feature-item {
        display: flex;
        gap: 16px;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
    }

    .pricing__card--pro {
        background: var(--kanbano-purple-text);
    }

    .pricing__card--free {
        background: var(--kanbano-bg-card-price);
    }

    .pricing__custom {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 20px;
        margin-top: 12px;
        background: var(--kanbano-green);
        border-radius: 0.75rem;
    }

    .pricing__custom-text {
        font-family: var(--font-baloo), display, serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
    }
}
