:host {
    position: absolute;
    top: 198px;
    right: 0;
    display: block;
    width: 266px;
    height: 581px;

    @media (width >= 48em) {
        right: 116px;
    }

    @media (width >= 64em) {
        right: 160px;
        width: 558px;
        height: 750px;
    }
}

svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

path {
    filter: blur(79px);
}

:host(.hide-desktop) {
    @media (width >= 64em) {
        display: none;
    }
}

.vector-desktop {
    display: none;

    @media (width >= 64em) {
        display: block;
    }
}

.vector-mobile {
    @media (width >= 64em) {
        display: none;
    }
}
