<svg aria-hidden="true" fill="none" height="129" viewBox="0 0 106 129" width="106" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.8">
        <path
            d="M104.999 19.1801L25.875 1.00024L0.998677 109.269L80.1224 127.448L104.999 19.1801Z"
            fill="white"
            fill-opacity="0.6"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M55.4648 27.3591L38.6562 23.4971L34.7942 40.3056L51.6028 44.1676L55.4648 27.3591Z"
            fill="white"
            fill-opacity="0.6"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M31.7812 54.1787L76.6494 64.4816"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M29.4531 64.2883L74.3213 74.5993"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M27.1328 74.4067L72.0009 84.7096"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M24.8125 84.5164L69.6807 94.8273"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M22.4766 94.635L67.3527 104.938"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
    </g>
</svg>
