<!--suppress AngularNgOptimizedImage -->
<picture>
    <source
        sizes="(min-width: 768px) 562px, 308px"
        srcset="
            /assets/functionality/organisation/list-308/list-308.avif 308w,
            /assets/functionality/organisation/list-562/list-562.avif 562w
        "
        type="image/avif"
    />
    <source
        sizes="(min-width: 768px) 562px, 308px"
        srcset="
            /assets/functionality/organisation/list-308/list-308.webp 308w,
            /assets/functionality/organisation/list-562/list-562.webp 562w
        "
        type="image/webp"
    />
    <img
        alt=""
        fetchpriority="high"
        height="222"
        loading="eager"
        sizes="(min-width: 768px) 562px, 308px"
        src="/assets/functionality/organisation/list-308/list-308.png"
        srcset="
            /assets/functionality/organisation/list-308/list-308.webp 308w,
            /assets/functionality/organisation/list-562/list-562.webp 562w
        "
        width="308"
    />
</picture>
