<svg
    aria-label="Formulaire de création d'un workspace dans Kanbano"
    fill="none"
    height="262"
    role="img"
    viewBox="0 0 264 262"
    width="264"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
>
    <title>Formulaire de création d'un workspace dans Kanbano</title>
    <rect fill="url(#pattern_wc)" height="262" width="264" />
    <defs>
        <pattern height="1" id="pattern_wc" patternContentUnits="objectBoundingBox" width="1">
            <use transform="scale(0.00378788 0.00381679)" xlink:href="#image_wc" />
        </pattern>
        <image
            height="262"
            href="/assets/functionality/workspace/workspace_create.png"
            id="image_wc"
            preserveAspectRatio="none"
            width="264"
        />
    </defs>
</svg>
