<!--suppress AngularNgOptimizedImage -->
<picture>
    <source
        sizes="(min-width: 768px) 162px, 108px"
        srcset="
            /assets/preview/workspace/workspace-108/workspace-108.avif 108w,
            /assets/preview/workspace/workspace-162/workspace-162.avif 162w
        "
        type="image/avif"
    />
    <source
        sizes="(min-width: 768px) 162px, 108px"
        srcset="
            /assets/preview/workspace/workspace-108/workspace-108.webp 108w,
            /assets/preview/workspace/workspace-162/workspace-162.webp 162w
        "
        type="image/webp"
    />
    <img
        alt=""
        height="356"
        loading="lazy"
        sizes="(min-width: 768px) 162px, 108px"
        src="/assets/preview/workspace/workspace-108/workspace-108.png"
        srcset="
            /assets/preview/workspace/workspace-108/workspace-108.png 108w,
            /assets/preview/workspace/workspace-162/workspace-162.png 162w
        "
        width="108"
    />
</picture>
