:host {
    position: absolute;
    top: 132px;
    right: 0;
    z-index: 6;
    display: block;
    box-shadow: 0 4px 40px 0 var(--kanbano-green-20);

    @media (width >= 48em) {
        top: 190px;
    }

    @media (width >= 64em) {
        top: 68px;
    }
}
