<section class="workspace">
    <kanbano-lp-vector-green-top />
    <kanbano-lp-vector-purple-top-2 />
    <kanbano-lp-vector-blue-bottom />

    <div class="container-workspace">
        <kanbano-lp-functionality-heading
            bold="votre projet dès le début."
            description="Fonctionnalité principale de Kanbano qui vous permet de créer facilement"
            name="workspace"
            title="Création de workspaces"
        />
        <kanbano-lp-workspace-empty />
        <kanbano-lp-workspace-create />
        <kanbano-lp-workspace-view />
    </div>
</section>
