<section class="workspace">
    <kanbano-lp-vector-green-top />
    <kanbano-lp-vector-purple-top-2 />
    <kanbano-lp-vector-blue-bottom />

    <kanbano-lp-functionality-heading
        bold="votre projet dès le début."
        description="Fonctionnalité principale de Kanbano qui vous permet de créer facilement"
        name="workspace"
        title="Création de workspaces"
    />

    <div class="container-workspace">
        <kanbano-lp-workspace-empty-svg class="example-top" />
        <kanbano-lp-workspace-create-svg class="example-middle" />
        <kanbano-lp-workspace-view-svg class="example-bottom" />
    </div>
</section>
