:host {
    position: absolute;
    top: 102px;
    left: 0;
    width: 227px;
    height: 418px;
    filter: blur(79px);

    @media (width >= 1024px) {
        left: -110px;
    }

    @media (width >= 1200px) {
        left: -150px;
    }
}

svg {
    width: 100%;
    height: 100%;
}
