:host {
    position: absolute;
    top: 102px;
    left: 0;
    width: 227px;
    height: 418px;

    @media (width >= 48em) {
        left: 162px;
    }

    @media (width >= 64em) {
        top: 50px;
        left: 38px;
        width: 390px;
        height: 599px;
    }
}

svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

path {
    filter: blur(79px);
}

:host(.hide-desktop) {
    @media (width >= 64em) {
        display: none;
    }
}

.vector-desktop {
    display: none;

    @media (width >= 64em) {
        display: block;
    }
}

.vector-mobile {
    @media (width >= 64em) {
        display: none;
    }
}
