<section class="task">
    <kanbano-lp-vector-green-top [hideOnDesktop]="true" />
    <kanbano-lp-vector-purple-top-2 [hideOnDesktop]="true" />
    <kanbano-lp-vector-blue-bottom />
    <kanbano-lp-vector-blue-bold />

    <kanbano-lp-functionality-heading
        bold="les gérer comme vous voulez."
        description="Une fois votre projet créé, vous pouvez créer vos tâches et"
        name="task"
        title="Création de tâches"
    />

    <div class="example-task">
        <picture class="example-task-top">
            <source
                sizes="(min-width: 768px) 382px, 330px"
                srcset="
                    /assets/functionality/task/task_view.webp    330w,
                    /assets/functionality/task/task_view@2x.webp 382w
                "
                type="image/webp"
            />
            <img
                alt=""
                sizes="(min-width: 768px) 382px, 330px"
                src="/assets/functionality/task/task_view.png"
                srcset="/assets/functionality/task/task_view.png 330w, /assets/functionality/task/task_view@2x.png 382w"
            />
        </picture>
        <picture class="example-task-right">
            <source srcset="/assets/functionality/task/task_create.webp" type="image/webp" />
            <img alt="" src="/assets/functionality/task/task_create.png" />
        </picture>
        <picture class="example-task-left">
            <source
                sizes="(min-width: 768px) 149px, 192px"
                srcset="
                    /assets/functionality/task/task_columns_view.webp    149w,
                    /assets/functionality/task/task_columns_view@2x.webp 192w
                "
                type="image/webp"
            />
            <img
                alt=""
                sizes="(min-width: 768px) 149px, 192px"
                src="/assets/functionality/task/task_columns_view.png"
                srcset="
                    /assets/functionality/task/task_columns_view.png    149w,
                    /assets/functionality/task/task_columns_view@2x.png 192w
                "
            />
        </picture>
    </div>
</section>
