<section class="task">
    <kanbano-lp-vector-green-top [hideOnDesktop]="true" />
    <kanbano-lp-vector-purple-top-2 [hideOnDesktop]="true" />
    <kanbano-lp-vector-blue-bottom />
    <kanbano-lp-vector-blue-bold />

    <div class="container-task">
        <kanbano-lp-functionality-heading
            bold="les gérer comme vous voulez."
            description="Une fois votre projet créé, vous pouvez créer vos tâches et"
            name="task"
            title="Création de tâches"
        />

        <kanbano-lp-task-view-svg />
        <kanbano-lp-task-create-svg />
        <!--        <kanbano-lp-task-columns-view-svg class="example-task-left" />-->
    </div>
</section>
