<section class="task">
    <kanbano-lp-vector-green-top [hideOnDesktop]="true" />
    <kanbano-lp-vector-purple-top-2 [hideOnDesktop]="true" />
    <kanbano-lp-vector-blue-bottom />
    <kanbano-lp-vector-blue-bold />

    <div class="container-task">
        <kanbano-lp-book-icon/>
        <kanbano-lp-functionality-heading
            bold="les gérer comme vous voulez."
            description="Une fois votre projet créé, vous pouvez créer vos tâches et"
            name="task"
            title="Création de tâches"
        />

        <kanbano-lp-task-empty />
        <kanbano-lp-task-create />
        <kanbano-lp-task-view />
    </div>
</section>
