.task {
    position: relative;
    display: block;
    height: 842px;
    padding-inline: 1rem;

    @media (width >= 64em) {
        height: 632px;
    }

    & .container-task {
        position: relative;
        height: 842px;

        @media (width >= 64em) {
            height: 632px;
        }
    }
}
