<header>
    <div class="container header">
        <a class="logo" routerLink="/">
            <kanbano-lp-logo />
        </a>

        <button
            class="menu"
            [class.active]="isMenuOpen()"
            [attr.aria-expanded]="isMenuOpen()"
            aria-label="Menu de navigation"
            (click)="toggleMenu()"
        >
            <span class="burger"></span>
        </button>

        @if (isDesktop()) {
        <kanbano-lp-nav-desktop [nav]="nav()" />
        } @else {
        <kanbano-lp-mobile-nav (linkClicked)="isMenuOpen.set(false)" [isActive]="isMenuOpen()" [nav]="nav()" />
        }
    </div>
</header>
