:host {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    padding-inline: 1.25rem;
    text-align: center;
}

.section-header-title {
    font-size: 2.75rem;
    font-weight: 700;
    color: var(--kanbano-text-heading);
}
