:host {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    padding-inline: 1.25rem;
    text-align: center;
}

.section-header__title {
    font-size: 2.75rem;
    font-weight: 700;
    color: var(--kanbano-gradient-purple);
}
