:host {
    position: relative;
    bottom: 222px;
    z-index: 6;
    display: block;
    width: 148px;

    @media (width >= 48em) {
        left: 192px;
    }

    @media (width >= 64em) {
        bottom: 508px;
        left: 126px;
        width: 192px;
        box-shadow: 0 4px 100px 0 var(--kanbano-shadow-purple);
    }

    @media (width >= 75em) {
        bottom: 476px;
        left: 80px;
    }
}
