<!--suppress AngularNgOptimizedImage -->
<picture>
    <source
        sizes="(min-width: 768px) 192px, 148px"
        srcset="
            /assets/functionality/task/view-148/view-148.avif 148w,
            /assets/functionality/task/view-192/view-192.avif 192w
        "
        type="image/avif"
    />
    <source
        sizes="(min-width: 768px) 192px, 148px"
        srcset="
            /assets/functionality/task/view-148/view-148.webp 148w,
            /assets/functionality/task/view-192/view-192.webp 192w
        "
        type="image/webp"
    />
    <img
        alt=""
        height="455"
        loading="lazy"
        sizes="(min-width: 768px) 192px, 148px"
        src="/assets/functionality/task/view-148/view-148.png"
        srcset="
            /assets/functionality/task/view-148/view-148.png 148w,
            /assets/functionality/task/view-192/view-192.png 192w
        "
        width="148"
    />
</picture>
