.preview {
    position: relative;
    padding-inline: 1rem;
    margin-top: -8rem;

    @media (width >= 48em) {
        padding-inline: 0;
        margin-top: -6rem;
    }

    @media (width >= 64em) {
        margin-top: -8rem;
    }

    @media (width >= 75em) {
        margin-top: -15rem;
    }

    .container-preview {
        position: relative;
        height: 468px;

        @media (width >= 48em) {
            width: 500px;
            height: 758px;
            margin-inline: auto;
        }

        @media (width >= 64em) {
            width: 900px;
            height: 626px;
        }

        & .preview__purple {
            position: absolute;
            top: 152px;
            left: 50%;
            width: 302px;
            height: 114px;
            background-color: var(--kanbano-purple-muted);
            filter: blur(37px);
            transform: translateX(-50%);

            @media (width >= 64em) {
                top: 308px;
                width: 646px;
                height: 244px;
            }
        }

        & .preview__pink {
            position: absolute;
            top: 208px;
            left: 60px;
            width: 66px;
            height: 66px;
            background-color: var(--kanbano-rose);
            filter: blur(37px);

            @media (width >= 48em) {
                top: 157px;
                left: 18px;
                width: 244px;
                height: 244px;
            }

            @media (width >= 64em) {
                top: 212px;
                left: 50px;
            }
        }

        & .preview__green {
            position: absolute;
            top: 160px;
            right: 10px;
            width: 73px;
            height: 229px;
            background-color: var(--kanbano-green-40);
            filter: blur(37px);

            @media (width >= 48em) {
                width: 155px;
                height: 483px;
            }

            @media (width >= 64em) {
                right: 0;
            }
        }

        & .preview__purple-right {
            position: absolute;
            top: 152px;
            right: 20px;
            width: 73px;
            height: 199px;
            background-color: var(--kanbano-purple-muted);
            filter: blur(37px);

            @media (width >= 48em) {
                display: none;
            }
        }
    }
}
