.preview {
    position: relative;
    height: 502px;
    margin-top: -8rem;

    @media (width >= 48em) {
        height: 756px;
        padding-inline: 0;
    }

    @media (width >= 64em) {
        height: 626px;
    }

    @media (width >= 80em) {
        margin-top: -12rem;
    }

    & .container-preview {
        position: relative;

        & .preview-purple {
            position: absolute;
            top: 152px;
            left: 50%;
            width: 302px;
            height: 114px;
            background-color: oklch(0.7463 0.0755 297.77); /* B2A3D7 */
            opacity: 0.4;
            filter: blur(37px);
            transform: translateX(-50%);

            @media (width >= 64em) {
                top: 308px;
                width: 646px;
                height: 244px;
            }
        }

        & .preview-pink {
            position: absolute;
            top: 208px;
            left: 60px;
            width: 66px;
            height: 66px;
            background-color: var(--kanbano-rose);
            opacity: 0.4;
            filter: blur(37px);

            @media (width >= 48em) {
                top: 157px;
                left: 18px;
                width: 244px;
                height: 244px;
            }

            @media (width >= 64em) {
                top: 212px;
                left: 50px;
            }
        }

        & .preview-green {
            position: absolute;
            top: 160px;
            right: 10px;
            width: 73px;
            height: 229px;
            background-color: var(--kanbano-green-40);
            filter: blur(37px);

            @media (width >= 48em) {
                width: 155px;
                height: 483px;
            }

            @media (width >= 64em) {
                right: 0;
            }
        }

        & .preview-purple-right {
            position: absolute;
            top: 152px;
            right: 20px;
            width: 73px;
            height: 199px;
            background-color: oklch(0.7463 0.0755 297.77); /* B2A3D7 */
            filter: blur(37px);

            @media (width >= 48em) {
                display: none;
            }
        }
    }
}
