<!--suppress AngularNgOptimizedImage -->
<figure>
    <picture data-animate="organisation-view">
        @if (isDark()) {
        <source
            sizes="264px"
            srcset="/assets/functionality/organisation/view-264/view-dark-264.avif 264w"
            type="image/avif"
        />
        <source
            sizes="264px"
            srcset="/assets/functionality/organisation/view-264/view-dark-264.webp 264w"
            type="image/webp"
        />
        }
        <source
            sizes="264px"
            srcset="/assets/functionality/organisation/view-264/view-264.avif 264w"
            type="image/avif"
        />
        <source
            sizes="264px"
            srcset="/assets/functionality/organisation/view-264/view-264.webp 264w"
            type="image/webp"
        />
        <img
            alt="Vue des membres d'un projet dans Kanbano"
            height="181"
            loading="lazy"
            sizes="264px"
            src="/assets/functionality/organisation/view-264/view-264.png"
            srcset="/assets/functionality/organisation/view-264/view-264.png 264w"
            width="264"
        />
    </picture>
</figure>
