:host {
    position: relative;
    z-index: 4;
    display: block;
    width: 330px;
    margin-top: 0.75rem;
    filter: drop-shadow(0 4px 100px rgba(155, 43, 229, 0.41));

    @media (width >= 48em) {
        left: 176px;
        width: 382px;
    }

    @media (width >= 64em) {
        top: 212px;
        left: 381px;
        margin-top: 0;
    }
}

svg {
    width: 100%;
}
