<svg
    aria-label="Vue de la liste des tâches d'un projet Kanbano"
    fill="none"
    height="286"
    role="img"
    viewBox="0 0 382 286"
    width="382"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
>
    <title>Vue de la liste des tâches d'un projet Kanbano</title>
    <rect fill="url(#pattern_func_tv)" height="286" width="382" />
    <defs>
        <pattern height="1" id="pattern_func_tv" patternContentUnits="objectBoundingBox" width="1">
            <use transform="scale(0.00261780 0.00349650)" xlink:href="#image_func_tv" />
        </pattern>
        <image
            height="286"
            href="/assets/functionality/task/task_view@2x.png"
            id="image_func_tv"
            preserveAspectRatio="none"
            width="382"
        />
    </defs>
</svg>
