<svg fill="none" height="194" viewBox="0 0 228 194" width="228" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.8">
        <path
            d="M40.3735 28.2175L209.239 92.5575L172.221 184.962C170.375 189.571 165.037 191.852 160.311 190.051L8.56725 132.235C3.84111 130.434 1.50257 125.229 3.34902 120.62L40.3672 28.2151L40.3735 28.2175Z"
            fill="white"
            fill-opacity="0.6"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M209.231 92.5783L40.3645 28.2297L39.125 8.98755L223.513 79.2476L209.231 92.5783Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M51.9329 3.50475L217.925 66.7498C223 68.6834 225.513 74.2759 223.53 79.2252L39.1406 8.97071C41.1234 4.02135 46.8579 1.57109 51.9329 3.50475Z"
            fill="white"
            fill-opacity="0.6"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M46.4782 23.8787L46.1172 18.3325L211.871 81.4922L207.757 85.3313L46.4782 23.8787Z"
            fill="white"
            fill-opacity="0.6"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M46.4782 23.8787L46.1172 18.3325L211.871 81.4922L207.757 85.3313L46.4782 23.8787Z"
            fill="white"
            fill-opacity="0.6"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M117.106 141.938L73.7969 125.437L65.8336 145.315L109.143 161.816L117.106 141.938Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M68.3047 139.106L82.4711 144.506"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M39.4553 95.3309L30.9609 92.0945L27.6423 100.378L36.1367 103.615L39.4553 95.3309Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M53.885 100.828L45.3906 97.5918L42.072 105.876L50.5664 109.112L53.885 100.828Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M117.566 125.105L59.8247 103.099L56.5078 111.382L114.25 133.387L122.743 136.622L126.06 128.339L117.566 125.105Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M140.51 133.833L132.016 130.597L128.697 138.881L137.191 142.117L140.51 133.833Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M154.94 139.331L146.445 136.095L143.127 144.379L151.621 147.615L154.94 139.331Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M50.4754 84.9L36.0434 79.4004L32.7266 87.6831L47.1586 93.1827L55.6517 96.4174L58.9685 88.1347L50.4754 84.9Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M73.4162 93.6325L64.9219 90.396L61.6032 98.68L70.0976 101.916L73.4162 93.6325Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M87.8459 99.1281L79.3516 95.8916L76.0329 104.176L84.5273 107.412L87.8459 99.1281Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M102.291 104.626L93.7969 101.389L90.4782 109.673L98.9726 112.91L102.291 104.626Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M145.588 121.133L137.094 117.897L133.775 126.181L142.269 129.417L145.588 121.133Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M160.033 126.631L151.539 123.395L148.22 131.679L156.715 134.915L160.033 126.631Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M165.959 128.911L162.642 137.187L157.555 149.887L166.048 153.121L171.135 140.428L174.452 132.146L165.959 128.911Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M49.6194 69.9305L41.125 66.6941L37.8064 74.9781L46.3007 78.2145L49.6194 69.9305Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M64.0647 75.4281L55.5703 72.1917L52.2517 80.4756L60.746 83.7121L64.0647 75.4281Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M78.4944 80.9303L70 77.6938L66.6814 85.9778L75.1757 89.2143L78.4944 80.9303Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M92.9396 86.434L84.4453 83.1975L81.1267 91.4815L89.621 94.7179L92.9396 86.434Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M107.369 91.9318L98.875 88.6953L95.5564 96.9793L104.051 100.216L107.369 91.9318Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M121.807 97.4332L113.312 94.1968L109.994 102.481L118.488 105.717L121.807 97.4332Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M127.743 99.7053L122.655 112.405L116.709 110.14L108.223 106.905L104.906 115.188L113.392 118.423L119.338 120.688L127.831 123.922L131.148 115.64L136.236 102.947L127.743 99.7053Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M150.682 108.433L142.188 105.197L138.869 113.481L147.363 116.717L150.682 108.433Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M165.119 113.931L156.625 110.694L153.306 118.978L161.801 122.215L165.119 113.931Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M179.549 119.439L171.055 116.202L167.736 124.486L176.23 127.723L179.549 119.439Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M60.6473 59.5072L46.2153 54.0076L42.8984 62.2836L57.3305 67.7899L65.8235 71.0246L69.1404 62.7419L60.6473 59.5072Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M83.5803 68.2362L75.0859 64.9998L71.7673 73.2837L80.2617 76.5202L83.5803 68.2362Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M98.0178 73.7335L89.5234 70.4971L86.2048 78.7811L94.6992 82.0175L98.0178 73.7335Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M112.463 79.2379L103.969 76.0015L100.65 84.2854L109.144 87.5219L112.463 79.2379Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M126.901 84.733L118.406 81.4966L115.088 89.7806L123.582 93.017L126.901 84.733Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M141.33 90.2306L132.836 86.9941L129.517 95.2781L138.012 98.5146L141.33 90.2306Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M155.768 95.733L147.273 92.4966L143.955 100.781L152.449 104.017L155.768 95.733Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M170.205 101.237L161.711 98.0002L158.392 106.284L166.887 109.521L170.205 101.237Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M184.643 106.738L176.148 103.502L172.83 111.786L181.324 115.022L184.643 106.738Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M59.7991 44.5368L51.3047 41.3003L47.986 49.5843L56.4804 52.8207L59.7991 44.5368Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M74.2366 50.0341L65.7422 46.7976L62.4235 55.0816L70.9179 58.3181L74.2366 50.0341Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M88.6741 55.5358L80.1797 52.2993L76.861 60.5833L85.3554 63.8198L88.6741 55.5358Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M103.112 61.0336L94.6172 57.7971L91.2985 66.0811L99.7929 69.3175L103.112 61.0336Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M117.549 66.5375L109.055 63.301L105.736 71.585L114.23 74.8215L117.549 66.5375Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M131.979 72.0328L123.484 68.7964L120.166 77.0804L128.66 80.3168L131.979 72.0328Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M146.424 77.537L137.93 74.3005L134.611 82.5845L143.105 85.821L146.424 77.537Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M160.854 83.0389L152.359 79.8025L149.041 88.0865L157.535 91.3229L160.854 83.0389Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M175.291 88.5365L166.797 85.3L163.478 93.584L171.973 96.8205L175.291 88.5365Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M189.721 94.0385L181.227 90.802L177.908 99.086L186.402 102.322L189.721 94.0385Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
    </g>
</svg>
