:host {
    position: absolute;
    top: 112px;
    right: 57px;
    width: 470px;
    height: 306px;

    @media (width >= 48em) {
        top: 93px;
        right: 0;
        left: 49px;
    }
}

svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

path {
    filter: blur(79px);
}

.vector-desktop {
    display: none;

    @media (width >= 64em) {
        display: block;
    }
}

.vector-mobile {
    @media (width >= 64em) {
        display: none;
    }
}
