:host {
    position: absolute;
    top: 112px;
    right: 57px;
    width: 470px;
    height: 306px;
    filter: blur(79px);

    @media (width >= 768px) {
        top: 93px;
        right: 0;
        left: 49px;
    }
}

svg {
    width: 100%;
    height: 100%;
}
