<svg aria-hidden="true" fill="none" height="152" viewBox="0 0 142 152" width="142" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.8">
        <path
            d="M140.79 50.2448L59.3516 8.98242L9.47821 107.416L90.9164 148.678L140.79 50.2448Z"
            fill="white"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M137.321 42.2679L55.8828 1.00562L0.998007 109.33L82.4362 150.592L137.321 42.2679Z"
            fill="white"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path d="M56.4953 2.94004L2.91406 108.692L73.4956 144.453L127.077 38.7017L56.4953 2.94004Z" fill="#2BE5CF" />
        <path
            d="M115.749 84.4817L73.7578 63.2058L64.2906 81.891L106.282 103.167L115.749 84.4817Z"
            fill="white"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M122.483 53.1177L117.225 46.5066L108.773 46.1741L117.526 28.908L131.236 35.8515L122.483 53.1177Z"
            fill="white"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
        <path
            d="M67.0015 6.63375L55.8828 1.00024L0.998007 109.325L12.1167 114.958L67.0015 6.63375Z"
            fill="#2BE5CF"
            stroke="#BD0CA9"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        />
    </g>
</svg>
