:host {
    position: absolute;
    right: 11px;
    bottom: -18px;
    z-index: 6;

    @media (width >= 48em) {
        bottom: -12px;
    }

    @media (width >= 64em) {
        display: none;
    }
}
