:host {
    display: contents;
}

svg {
    position: absolute;
    right: 16px;
    bottom: 6px;
    z-index: 6;

    @media (width >= 48em) {
        right: 52px;
        bottom: 36px;
    }

    @media (width >= 64em) {
        right: -56px;
        bottom: 54px;
        rotate: -42deg;
    }
}
