<!--suppress AngularNgOptimizedImage -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-top">
            <h2 class="footer-heading">
                Gérez vos projet
                <span class="footer-bold">en tout tranquilité !</span>
            </h2>
            <div class="footer-newsletter">
                <p class="footer-form-heading">Suivez Kanbano pour ne rien rater !</p>
                <form class="footer-form">
                    <label class="footer-label" for="newsletter-email"> Votre adresse email </label>
                    <input class="footer-form-input" id="newsletter-email" placeholder="Mon email" type="email" />
                    <kanbano-lp-button variant="secondary" [full]="true"> Rejoindre la newsletters </kanbano-lp-button>
                </form>
            </div>
        </div>

        <div class="footer-bottom">
            <picture class="footer-logo">
                @if (isDark()) {
                <source sizes="220px" srcset="/assets/logo/logo-light/logo-light.avif 220w" type="image/avif" />
                <source sizes="220px" srcset="/assets/logo/logo-light/logo-light.webp 220w" type="image/webp" />
                <img
                    alt="Kanbano"
                    height="45"
                    loading="lazy"
                    src="/assets/logo/logo-light/logo-light.png"
                    width="219"
                />
                } @else {
                <source sizes="220px" srcset="/assets/logo/logo-dark/logo-dark.avif 220w" type="image/avif" />
                <source sizes="220px" srcset="/assets/logo/logo-dark/logo-dark.webp 220w" type="image/webp" />
                <img alt="Kanbano" height="45" loading="lazy" src="/assets/logo/logo-dark/logo-dark.png" width="219" />
                }
            </picture>

            <nav aria-label="Navigation du pied de page">
                <ul class="footer-lists">
                    @for (item of nav(); track item.fragment) {
                    <li class="footer-item">
                        <a [fragment]="item.fragment" [routerLink]="['/']" class="link"> {{ item.name }} </a>
                    </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</footer>
