.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
    padding-inline: 1rem;
    background-color: var(--kanbano-bg-footer);
    border-radius: 2rem 2rem 0 0;

    & .footer-container {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        justify-content: center;

        @media (width >= 80em) {
            max-width: 1100px;
        }

        & .footer-top {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            @media (width >= 64em) {
                flex-direction: row;
            }

            & .footer-heading {
                font-size: 2.75rem;
                font-weight: initial;
                color: var(--kanbano-text-footer);

                & .footer-bold {
                    font-weight: 700;
                }

                @media (width >= 64em) {
                    flex: 1;
                }
            }

            & .footer-newsletter {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                align-items: center;
                justify-content: center;
                padding: 2rem;
                background-color: var(--kanbano-bg-newsletter);
                border-radius: 0.75rem;

                @media (width >= 64em) {
                    flex: 1;
                }

                & .footer-form-heading {
                    font-family: var(--font-baloo), display, serif;
                    font-size: 1.25rem;
                    font-weight: 600;
                    color: var(--kanbano-text-newsletter);
                    text-align: center;
                }

                & .footer-form {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;
                }

                & .footer-label {
                    font-size: 1.125rem;
                }

                & .footer-form-input {
                    padding: 8px;
                    margin-bottom: 1rem;
                    background-color: var(--kanbano-newsletter-input-bg);
                    border-radius: 4px;

                    &::placeholder {
                        font-family: var(--font-mulish), sans-serif;
                        color: var(--kanbano-primary);
                    }
                }
            }
        }

        & .footer-bottom {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            align-items: center;

            @media (width >= 64em) {
                flex-direction: row;
                align-items: initial;
                justify-content: space-between;
            }

            & .footer-logo {
                width: 219px;
                min-width: 219px;
                max-width: 219px;
                height: 45px;
                min-height: 45px;
                max-height: 45px;
            }

            & .footer-lists {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                align-items: center;
                padding-block: 1rem;

                @media (width >= 64em) {
                    flex-direction: row;
                    align-items: initial;
                }

                & .footer-item {
                    font-family: var(--font-baloo), display, serif;
                    font-size: 1.125rem;
                    font-weight: 500;
                    color: var(--kanbano-text-footer);
                }
            }
        }
    }
}
