<!--suppress AngularNgOptimizedImage -->
<figure>
    <picture data-animate="1">
        @if (isDark()) {
        <source
            sizes="(min-width: 768px) 386px, 325px"
            srcset="
                /assets/functionality/workspace/empty-325/empty-dark-325.avif 325w,
                /assets/functionality/workspace/empty-386/empty-dark-386.avif 386w
            "
            type="image/avif"
        />
        <source
            sizes="(min-width: 768px) 386px, 325px"
            srcset="
                /assets/functionality/workspace/empty-325/empty-dark-325.webp 325w,
                /assets/functionality/workspace/empty-386/empty-dark-386.webp 386w
            "
            type="image/webp"
        />
        }
        <source
            sizes="(min-width: 768px) 386px, 325px"
            srcset="
                /assets/functionality/workspace/empty-325/empty-325.avif 325w,
                /assets/functionality/workspace/empty-386/empty-386.avif 386w
            "
            type="image/avif"
        />
        <source
            sizes="(min-width: 768px) 386px, 325px"
            srcset="
                /assets/functionality/workspace/empty-325/empty-325.webp 325w,
                /assets/functionality/workspace/empty-386/empty-386.webp 386w
            "
            type="image/webp"
        />
        <img
            alt=""
            height="203"
            loading="lazy"
            sizes="(min-width: 768px) 386px, 325px"
            src="/assets/functionality/workspace/empty-325/empty-325.png"
            srcset="
                /assets/functionality/workspace/empty-325/empty-325.png 325w,
                /assets/functionality/workspace/empty-386/empty-386.png 386w
            "
            width="325"
        />
    </picture>
    <kanbano-lp-arrow-one />
    <kanbano-lp-arrow-two />
    <kanbano-lp-arrow-four />
</figure>
