:host {
    position: relative;
    display: block;
    width: 325px;
    margin-inline: auto;
    margin-top: 0.75rem;
    box-shadow: 0 4px 100px 0 var(--kanbano-shadow-purple);

    @media (width >= 48em) {
        width: 386px;
    }

    @media (width >= 64em) {
        top: 218px;
        right: 0;
        left: 102px;
        margin-inline: 0;
        margin-top: 0;
    }
}

picture {
    position: relative;
    z-index: 4;
}
