@if (isDesktop()) {
<svg
    aria-label="Workspace vide dans Kanbano"
    fill="none"
    height="274"
    role="img"
    viewBox="0 0 394 274"
    width="394"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
>
    <title>Workspace vide dans Kanbano</title>
    <rect fill="url(#pattern_wed)" height="274" width="394" />
    <defs>
        <pattern height="1" id="pattern_wed" patternContentUnits="objectBoundingBox" width="1">
            <use transform="scale(0.00253807 0.00364964)" xlink:href="#image_wed" />
        </pattern>
        <image
            height="274"
            href="/assets/functionality/workspace/workspace_empty@2x.png"
            id="image_wed"
            preserveAspectRatio="none"
            width="394"
        />
    </defs>
</svg>
} @else {
<svg
    aria-label="Workspace vide dans Kanbano"
    fill="none"
    height="226"
    role="img"
    viewBox="0 0 325 226"
    width="325"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
>
    <title>Workspace vide dans Kanbano</title>
    <rect fill="url(#pattern_wem)" height="226" width="325" />
    <defs>
        <pattern height="1" id="pattern_wem" patternContentUnits="objectBoundingBox" width="1">
            <use transform="scale(0.00307692 0.00442478)" xlink:href="#image_wem" />
        </pattern>
        <image
            height="226"
            href="/assets/functionality/workspace/workspace_empty.png"
            id="image_wem"
            preserveAspectRatio="none"
            width="325"
        />
    </defs>
</svg>
}
