<svg
    aria-label="Profil d'un membre de l'équipe dans Kanbano"
    fill="none"
    height="182"
    role="img"
    viewBox="0 0 265 182"
    width="265"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
>
    <title>Profil d'un membre de l'équipe dans Kanbano</title>
    <rect fill="url(#pattern_func_op)" height="182" width="265" />
    <defs>
        <pattern height="1" id="pattern_func_op" patternContentUnits="objectBoundingBox" width="1">
            <use transform="scale(0.00377358 0.00549451)" xlink:href="#image_func_op" />
        </pattern>
        <image
            height="182"
            href="/assets/functionality/organisation/organisation_profil.png"
            id="image_func_op"
            preserveAspectRatio="none"
            width="265"
        />
    </defs>
</svg>
