:host {
    position: relative;
    z-index: 4;
    display: block;
    width: 343px;
    margin-inline: auto;

    @media (width >= 48em) {
        width: 500px;
    }

    @media (width >= 64em) {
        width: 676px;
    }
}
