<!--suppress AngularNgOptimizedImage -->
<picture>
    @if (isDark()) {
    <source
        sizes="(min-width: 1024px) 1024px, (min-width: 768px) 768px, (min-width: 343px) 343px, 318px"
        srcset="
            /assets/preview/dashboard/desktop-318/dashboard-dark-318.avif  318w,
            /assets/preview/dashboard/desktop-343/dashboard-dark-343.avif  343w,
            /assets/preview/dashboard/desktop-500/dashboard-dark-500.avif  768w,
            /assets/preview/dashboard/desktop-680/dashboard-dark-680.avif 1024w
        "
        type="image/avif"
    />
    <source
        sizes="(min-width: 1024px) 1024px, (min-width: 768px) 768px, (min-width: 343px) 343px, 318px"
        srcset="
            /assets/preview/dashboard/desktop-318/dashboard-dark-318.webp  318w,
            /assets/preview/dashboard/desktop-343/dashboard-dark-343.webp  343w,
            /assets/preview/dashboard/desktop-500/dashboard-dark-500.webp  768w,
            /assets/preview/dashboard/desktop-680/dashboard-dark-680.webp 1024w
        "
        type="image/webp"
    />
    }
    <source
        sizes="(min-width: 1024px) 1024px, (min-width: 768px) 768px, (min-width: 343px) 343px, 318px"
        srcset="
            /assets/preview/dashboard/desktop-318/desktop-318.avif  318w,
            /assets/preview/dashboard/desktop-343/desktop-343.avif  343w,
            /assets/preview/dashboard/desktop-500/desktop-500.avif  768w,
            /assets/preview/dashboard/desktop-680/desktop-680.avif 1024w
        "
        type="image/avif"
    />
    <source
        sizes="(min-width: 1024px) 1024px, (min-width: 768px) 768px, (min-width: 343px) 343px, 318px"
        srcset="
            /assets/preview/dashboard/desktop-318/desktop-318.webp  318w,
            /assets/preview/dashboard/desktop-343/desktop-343.webp  343w,
            /assets/preview/dashboard/desktop-500/desktop-500.webp  768w,
            /assets/preview/dashboard/desktop-680/desktop-680.webp 1024w
        "
        type="image/webp"
    />
    <img
        alt="Aperçu du tableau de bord Kanbano"
        fetchpriority="high"
        height="243"
        loading="eager"
        sizes="(min-width: 1024px) 1024px, (min-width: 768px) 768px, (min-width: 343px) 343px, 318px"
        src="/assets/preview/dashboard/desktop-318/desktop-318.png"
        srcset="
            /assets/preview/dashboard/desktop-318/desktop-318.png  318w,
            /assets/preview/dashboard/desktop-343/desktop-343.png  343w,
            /assets/preview/dashboard/desktop-500/desktop-500.png  768w,
            /assets/preview/dashboard/desktop-680/desktop-680.png 1024w
        "
        width="318"
    />
</picture>
