<!--suppress AngularNgOptimizedImage -->
<picture>
    <source
        sizes="(min-width: 768px) 382px, 330px"
        srcset="
            /assets/functionality/task/empty-330/empty-330.avif      330w,
            /assets/functionality/workspace/empty-386/empty-386.avif 386w
        "
        type="image/avif"
    />
    <source
        sizes="(min-width: 768px) 382px, 330px"
        srcset="
            /assets/functionality/task/empty-330/empty-330.webp      330w,
            /assets/functionality/workspace/empty-386/empty-386.webp 386w
        "
        type="image/webp"
    />
    <img
        alt=""
        fetchpriority="high"
        height="249"
        loading="eager"
        sizes="(min-width: 768px) 382px, 330px"
        src="/assets/functionality/task/empty-330/empty-330.png"
        srcset="
            /assets/functionality/task/empty-330/empty-330.webp      330w,
            /assets/functionality/workspace/empty-386/empty-386.webp 386w
        "
        width="330"
    />
</picture>
