:host {
    position: absolute;
    right: 78px;
    bottom: 236px;

    @media (width >= 48em) {
        right: 40px;
    }

    @media (width >= 64em) {
        right: 254px;
        bottom: 212px;
        rotate: -18deg;
    }
}
