:host {
    display: contents;
}

figure {
    position: relative;
    bottom: 12px;
    left: 135px;
    display: block;
    width: 202px;

    @media (width >= 48em) {
        left: 358px;
    }

    @media (width >= 64em) {
        top: 108px;
        bottom: 0;
        left: 600px;
    }

    @media (width >= 75em) {
        left: 550px;
    }
}

picture {
    position: relative;
    z-index: 5;
    box-shadow: 0 4px 100px var(--kanbano-shadow-purple);
}
