:host {
    display: none;

    @media (width >= 1024px) {
        position: absolute;
        top: 126px;
        left: 0;
        display: block;
    }
}

svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

path {
    filter: blur(79px);
}
