:host {
    display: block;
    contain-intrinsic-size: 0 1200px;
    content-visibility: auto;
}

.functionality {
    overflow: hidden;
    text-align: center;

    @media (width >= 64em) {
        overflow: initial;
    }

    @media (width >= 75em) {
        min-width: 978px;
        max-width: 978px;
        margin-inline: auto;
    }

    .icon {
        width: 112px;
        min-width: 112px;
        max-width: 112px;
        height: 102px;
        min-height: 102px;
        max-height: 102px;
        margin-inline: auto;
    }

    & .functionality__title {
        margin-top: 1.25rem;
        font-size: 2.75rem;
        font-weight: 700;
        color: var(--kanbano-text-heading);
    }

    & .functionality__actions {
        margin-top: 8rem;
        margin-bottom: 2rem;

        @media (width >= 48em) {
            margin-top: 2rem;
        }

        @media (width >= 64em) {
            margin-top: 0;
            margin-bottom: 4rem;
        }
    }
}
