.functionality {
    overflow: hidden;
    text-align: center;

    @media (width >= 64em) {
        overflow: initial;
    }

    @media (width >= 75em) {
        min-width: 978px;
        max-width: 978px;
        margin-inline: auto;
    }
}
