<svg
    aria-label="Vue des colonnes Kanban avec les tâches organisées par statut"
    fill="none"
    height="586"
    role="img"
    viewBox="0 0 192 586"
    width="192"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
>
    <title>Vue des colonnes Kanban avec les tâches organisées par statut</title>
    <rect fill="url(#pattern_func_tcv)" height="586" width="192" />
    <defs>
        <pattern height="1" id="pattern_func_tcv" patternContentUnits="objectBoundingBox" width="1">
            <use transform="scale(0.00520833 0.00170648)" xlink:href="#image_func_tcv" />
        </pattern>
        <image
            height="586"
            href="/assets/functionality/task/task_columns_view@2x.png"
            id="image_func_tcv"
            preserveAspectRatio="none"
            width="192"
        />
    </defs>
</svg>
