.participants {
    position: relative;
    padding-inline: 1rem;
    padding-top: 5.25rem;
    margin-inline: auto;

    @media (width >= 75em) {
        padding-inline: 0;
    }

    & .container-participant {
        position: relative;

        @media (width >= 48em) {
            padding-top: 0.75rem;
        }

        @media (width >= 64em) {
            padding-top: 0;
        }
    }
}
