<section class="participants">
    <kanbano-lp-vector-green-right-participant />
    <kanbano-lp-vector-purple-left-participant />

    <kanbano-lp-functionality-heading
        bold="rattachées à vos espaces de travail."
        description="Attribuez, invitez et gérez toutes les personnes"
        name="participant"
        title="Gérez les intervenants"
    />

    <div class="example-participant">
        <picture class="example-participant__top">
            <source
                sizes="(min-width: 768px) 307px, 562px"
                srcset="
                    /assets/functionality/organisation/organisation_view.webp    307w,
                    /assets/functionality/organisation/organisation_view@2x.webp 562w
                "
                type="image/webp"
            />
            <img
                alt=""
                sizes="(min-width: 768px) 307px, 562px"
                src="/assets/functionality/organisation/organisation_view.png"
                srcset="
                    /assets/functionality/organisation/organisation_view.png    307w,
                    /assets/functionality/organisation/organisation_view@2x.png 562w
                "
            />
        </picture>
        <picture class="example-participant__middle">
            <source srcset="/assets/functionality/organisation/invitation_create.webp" type="image/webp" />
            <img alt="" src="/assets/functionality/organisation/invitation_create.png" />
        </picture>
        <picture class="example-participant__bottom">
            <source srcset="/assets/functionality/organisation/organisation_profil.webp" type="image/webp" />
            <img alt="" src="/assets/functionality/organisation/organisation_profil.png" />
        </picture>
    </div>
</section>
