<section class="participants">
    <kanbano-lp-vector-green-right-participant />
    <kanbano-lp-vector-purple-left-participant />

    <div class="container-participant">
        <kanbano-lp-functionality-heading
            bold="rattachées à vos espaces de travail."
            description="Attribuez, invitez et gérez toutes les personnes"
            name="participant"
            title="Gérez les intervenants"
        />

        <kanbano-lp-organisation-list />
        <kanbano-lp-invitation-create />
        <kanbano-lp-organisation-view />
    </div>
</section>
