<section class="participants">
    <kanbano-lp-vector-green-right-participant />
    <kanbano-lp-vector-purple-left-participant />

    <kanbano-lp-functionality-heading
        bold="rattachées à vos espaces de travail."
        description="Attribuez, invitez et gérez toutes les personnes"
        name="participant"
        title="Gérez les intervenants"
    />

    <div class="example-participant">
        <kanbano-lp-organisation-view-svg class="example-participant__top" />
        <kanbano-lp-invitation-create-svg class="example-participant__middle" />
        <kanbano-lp-organisation-profil-svg class="example-participant__bottom" />
    </div>
</section>
