:host {
    position: absolute;
    bottom: 202px;

    @media (width >= 48em) {
        right: 70px;
        bottom: 208px;
    }

    @media (width >= 64em) {
        right: 88px;
        bottom: 220px;
        rotate: -15deg;
    }
}
