:host {
    position: absolute;
    top: 134px;
    right: -158px;
    width: 315px;
    height: 423px;
    filter: blur(79px);

    @media (width >= 48em) {
        top: 0;
        right: 74px;
    }

    @media (width >= 64em) {
        right: 182px;
    }

    @media (width >= 80em) {
        top: 0;
        right: 82px;
    }
}

svg {
    width: 100%;
}
