.hero-banner {
    position: relative;
    height: 1163px;
    max-height: 1163px;
    overflow: hidden;
    color: var(--kanbano-white);
    background-image: url("/assets/background-hero-banner/fond-mobile.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media (width >= 48em) {
        height: 808px;
        max-height: 808px;
    }

    @media (width >= 75em) {
        height: 906px;
        max-height: 906px;
        background-image: url("/assets/background-hero-banner/fond-desktop.svg");
    }

    & .hero-banner-k1 {
        display: none;

        @media (width >= 48em) {
            position: absolute;
            left: -342px;
            display: block;
            width: 632px;
            min-width: 632px;
            max-width: 632px;
            height: 604px;
            min-height: 604px;
            max-height: 604px;
            filter: blur(6px);
        }

        @media (width >= 80em) {
            top: -154px;
            left: -184px;
        }
    }

    & .hero-banner-k2 {
        display: none;

        @media (width >= 48em) {
            position: absolute;
            bottom: 92px;
            left: calc(50% - 130px);
            display: block;
            width: 260px;
            min-width: 260px;
            max-width: 260px;
            height: 324px;
            min-height: 324px;
            max-height: 324px;
            filter: blur(10px);
        }

        @media (width >= 80em) {
            bottom: 208px;
        }
    }

    & .hero-banner-k3 {
        position: absolute;
        top: 336px;
        right: 0;
        width: 318px;
        min-width: 318px;
        max-width: 318px;
        height: 337px;
        min-height: 337px;
        max-height: 337px;
        filter: blur(10px);

        @media (width >= 48em) {
            top: 0;
        }
    }

    & .hero-banner-content {
        position: absolute;
        top: 150px;
        left: 50%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        transform: translateX(-50%);

        @media (width >= 48em) {
            align-items: center;
            justify-content: center;
        }

        & .hero-banner-heading {
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.2;

            @media (width >= 48em) {
                text-align: center;
            }

            @media (width >= 64em) {
                font-size: 4rem;
                line-height: initial;
            }

            & .hero-banner-heading-accent {
                font-weight: 700;
            }
        }

        & .hero-banner-description {
            font-size: 1.5rem;
            font-weight: 700;

            @media (width >= 48em) {
                text-align: center;
            }
        }

        & .hero-banner-actions {
            width: 100%;
            margin-top: 2.5rem;
        }
    }
}
