<svg
    aria-label="Vue de la liste des membres d'un workspace Kanbano"
    fill="none"
    height="406"
    role="img"
    viewBox="0 0 562 406"
    width="562"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
>
    <title>Vue de la liste des membres d'un workspace Kanbano</title>
    <rect fill="url(#pattern_func_ov)" height="406" width="562" />
    <defs>
        <pattern height="1" id="pattern_func_ov" patternContentUnits="objectBoundingBox" width="1">
            <use transform="scale(0.00177936 0.00246305)" xlink:href="#image_func_ov" />
        </pattern>
        <image
            height="406"
            href="/assets/functionality/organisation/organisation_view@2x.png"
            id="image_func_ov"
            preserveAspectRatio="none"
            width="562"
        />
    </defs>
</svg>
