:host {
    position: absolute;
    top: 642px;
    left: 0;
    width: 226px;
    height: 324px;
    filter: blur(79px);
    transform: rotate(-5.092deg);
}

svg {
    width: 100%;
    height: 100%;
}
