<svg
    aria-label="Vue d'un workspace Kanbano"
    fill="none"
    height="287"
    role="img"
    viewBox="0 0 285 287"
    width="285"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
>
    <title>Vue d'un workspace Kanbano</title>
    <rect fill="url(#pattern_wv)" height="287" width="285" />
    <defs>
        <pattern height="1" id="pattern_wv" patternContentUnits="objectBoundingBox" width="1">
            <use transform="scale(0.00350877 0.00348432)" xlink:href="#image_wv" />
        </pattern>
        <image
            height="287"
            href="/assets/functionality/workspace/workspace_view.png"
            id="image_wv"
            preserveAspectRatio="none"
            width="285"
        />
    </defs>
</svg>
