:host {
    display: contents;
}

figure {
    position: relative;
    bottom: 26px;
    left: 32px;
    z-index: 4;
    width: 285px;

    @media (width >= 48em) {
        left: 200px;
    }

    @media (width >= 64em) {
        bottom: 412px;
        left: 638px;
    }
}

picture {
    box-shadow: 0 4px 100px 0 var(--kanbano-shadow-purple);
}
