<svg
    aria-label="Formulaire de création d'une nouvelle tâche dans Kanbano"
    fill="none"
    height="239"
    role="img"
    viewBox="0 0 201 239"
    width="201"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
>
    <title>Formulaire de création d'une nouvelle tâche dans Kanbano</title>
    <rect fill="url(#pattern_func_tc)" height="239" width="201" />
    <defs>
        <pattern height="1" id="pattern_func_tc" patternContentUnits="objectBoundingBox" width="1">
            <use transform="scale(0.00497512 0.00418410)" xlink:href="#image_func_tc" />
        </pattern>
        <image
            height="239"
            href="/assets/functionality/task/task_create.png"
            id="image_func_tc"
            preserveAspectRatio="none"
            width="201"
        />
    </defs>
</svg>
