:host {
    position: absolute;
    bottom: -24px;
    left: -13px;
    z-index: 7;

    @media (width >= 48em) {
        left: -34px;
    }

    @media (width >= 64em) {
        top: -90px;
        right: -7px;
        bottom: initial;
        left: initial;
        rotate: -105deg;
    }
}
