<!--suppress AngularNgOptimizedImage -->
<picture>
    <source
        sizes="(min-width: 768px) 162px, 108px"
        srcset="/assets/preview/task/view-108/view-108.avif 108w, /assets/preview/task/view-162/view-162.avif 162w"
        type="image/avif"
    />
    <source
        sizes="(min-width: 768px) 162px, 108px"
        srcset="/assets/preview/task/view-108/view-108.webp 108w, /assets/preview/task/view-162/view-162.webp 162w"
        type="image/webp"
    />
    <img
        alt=""
        height="148"
        loading="lazy"
        sizes="(min-width: 768px) 162px, 108px"
        src="/assets/preview/task/view-108/view-108.png"
        srcset="/assets/preview/task/view-108/view-108.png 108w, /assets/preview/task/view-162/view-162.png 162w"
        width="108"
    />
</picture>
