:host {
    position: absolute;
    top: 182px;
    left: 38px;
    z-index: 6;
    display: block;

    @media (width >= 48em) {
        top: 316px;
    }

    @media (width >= 64em) {
        top: 202px;
        left: 12px;
    }
}

svg {
    width: 100%;
}
